<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobSearch</title>
    <style>
      section{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
      }
    </style>
  </head>
  <body>
    <h1>Результаты поиска</h1>
    <h3>Найдено {{results_number}} результатов по запросу: {{searchBy}}</h3>
    <a href="/export?keyword{{searchBy}}">Экспорт в CSV</a>
    <section>
      <h4>Название вакансии</h4>
      <h4>Компания</h4>
      <h4>Местоположение</h4>
      <h4>Ссылка</h4>
      {% for job in jobs %}
        <span>{{job.name}}</span>
        <span>{{job.company}}</span>
        <span>{{job.location}}</span>
        <a href="{{job.link}}", target="_blank">Перейти</a>
      {% endfor %}
    </section>
  </body>
</html>